.intro {
  .greeting {
    font-size: 10em;
    color: orange;
    font-family: "ff-good-headline-web-pro-con", sans-serif;
  }
  .name-row {
    font-size: medium;
  }
}

p.name {
  font-size: 10em;
}